<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!--日志等级（debug,info,wran,error,fatal）-->
  <add key="HzdtfLog:LogLevel:Default" value="debug" />
  <!--连接字符串加密-->
  <add key="ConnectionStrings:Encrypt" value="false" />
  <!--启用swagger-->
  <add key="Swagger:Enabled" value="true" />
  <!--允许测试用户-->
  <add key="User:AllowTest" value="true" />
  <!--每页最大记录数（不限制设置为-1）-->
  <add key="Page:MaxPageSize" value="100" />
  <!--用户权限基准，值：Role(以角色为基准)，User(以用户为基准)-->
  <add key="User:PermissionBenchmark" value="Role" />
  <!--附件上传根目录类型（physics：物理路径；virtual：虚拟路径）-->
  <add key="Attachment:UploadRootType" value="physics"/>
  <!--附件上传根目录-->
  <add key="Attachment:UploadRoot" value="F:\MyWorks\net\Hzdtf.FoundationFramework\WebDemoFramework\Hzdtf.WebDemo.Framework\UploadFiles\"/>
  <!--附件下载根目录-->
  <add key="Attachment:DownloadRoot" value="http://localhost:52659/UploadFiles/"/>
</appSettings>